
.done {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 70px;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 150ms;
}

.delete {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 70px;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 150ms;
}

.edit {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 70px;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 150ms;
}

.edit:hover, .delete:hover, .done:hover {
    transform: translateY(3px);
    transition: 150ms;
}