
.input {
    width: 220px;
    height: 30px;
    padding: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 2px solid #626262;
    border-radius: 6px;
}